:root {
    --primary-color: #faf0e6;
    --secondary-color: #3e1644;
    --tertiary-color: #fbe8ec;
    --border-color: #ac4e9b;
    --default-font-family: "Poppins";
}

div {
	padding-left: 10px;
	padding-right: 10px;
}

.container-fluid {
	width: 100%;
    max-width: 700px; /* Maximum width of the container */
    margin-right: auto;
    margin-left: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

header {
	padding-top: 150px;
}

body {
	width: 700px;
	font-family: var(--default-font-family);
	font-size: 20px;
	background-color: var(--primary-color);
}

body img {
max-width: 50%;
}

h1 {
	font-family: var(--default-font-family);
	font-weight: bold;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
	color: var(--secondary-color);
}

h2 {
	font-family: var(--default-font-family);
	font-weight: bold;
	font-size: 34px;
	margin-top: 0;
	text-align: center;
	color: var(--secondary-color);
}


h3 {
	font-family: var(--default-font-family);
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	line-height: 1.5;
	color: var(--tertiary-color);
}

ul {
	list-style: none;
	padding: 0;
	font-family: var(--default-font-family);
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
}

li {
	text-align: center;
	font-weight: normal;
}

header {
	margin-bottom: 20px;
}

form {
	padding: 30px;
	background-color: var(--secondary-color);
	box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
	border-radius: 10px;
	display: flex;
	margin-bottom: 30px;
}

footer {
	color: var(--secondary-color);
	text-align: center;
	font-family: var(--default-font-family);
	font-size: 13px;
	margin-top: 0;
}

footer a {
	margin-top: 10px;
	color: var(--secondary-color);
}


.main-instructions {
	padding: 16px;
	border: 1.5px solid var(--secondary-color);
	font-size: 14px;
	border-radius: 10px;
	line-height: 20px;
	background-color: var(--secondary-color);
	border-left: 3px solid var(--border-color);
	border-right: 3px solid var(--border-color);
	color: var(--tertiary-color);
}

.form {
	border-left: 3px solid var(--border-color);
	border-right: 3px solid var(--border-color);
}

.instructions {
	padding: 16px;
	border: 1.5px solid var(--secondary-color);
	width: 80%;
	font-family: var(--default-font-family);
	font-size: 15px;
	border-radius: 50px;
	line-height: 20px;
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

input[type=text] {
	text-align: center;
}

.submit-button {
	margin-left: 10px;
	text-align: center;
	background: var(--tertiary-color);
	color: var(--secondary-color);
	width: 150px;
	font-family: var(--default-font-family);
	font-size: 16px;
	font-weight: 200;
	border-radius: 50px;
	border: 1.5px solid var(--secondary-color);
	padding: 14px 12px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: var(--primary-color);;
	color: var(--secondary-color);
}

.affirmation {
	font-family: var(--default-font-family);
	font-size: 16px;
	text-align: center;
	color: var(--tertiary-color);
	background-color: var(--secondary-color);
	padding: 20px;
	line-height: 2;
	border-left: 3px solid var(--border-color);
	border-right: 3px solid var(--border-color);
	box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
	border-radius: 10px;
}

.affirmation:img {
	display:block;
	max-width: 600;
}

.hidden {
	display: none;
}

.affirmation strong {
	color: var(--tertiary-color);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

	div .container {
		padding: 0;
	}

	h1 {
		font-size: 36px
	}

	footer a {
		padding-bottom: 20px;
	}
}

@media (min-width: 380px) {
    .container {
        max-width: 0;
    }

	div .container {
		padding: 0;
	}

	h1 {
		font-size: 36px
	}

	footer a {
		padding-bottom: 0;
	}
}
